.container {
  padding: 2em;
  margin: 0 auto;
  max-width: 1250px;
}

.flex {
  display: flex;
  align-items: center;
  gap: calc(var(--gap, 0) * 1rem);
}

.stack {
  --gap: 1;
  display: flex;
  flex-direction: column;
}

.stack.center {
  align-items: center;
}

.stack > * + * {
  margin-top: calc(var(--gap, 0.5) * 1rem);
}

.mb-1 {
  margin-bottom: 1em;
}

.layout-base {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
}

.layout-guess,
.layout-draw {
  display: grid;
  align-items: flex-start;
  align-content: flex-start;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
          "canvas canvas"
          "input input"
          "scoreboard guesses";
}


.layout-draw {
  grid-template-areas:
          "canvas canvas"
          "guesses scoreboard";
}


@media screen and (min-width: 700px) {
  .layout-guess,
  .layout-draw {
    grid-template-columns: 1fr 250px;
    grid-template-areas:
          "input input"
          "canvas guesses"
          "canvas scoreboard"
          "canvas empty"
  ;
  }

  .layout-guess--no-guess {
    grid-template-areas:
          "input input"
          "canvas scoreboard"
          "canvas empty";
  }

  .layout-base {
    grid-template-columns: 1fr 350px;
  }

  .layout-draw {
    grid-template-areas:
          "canvas scoreboard"
          "canvas guesses"
  }
}

@media screen and (min-width: 900px) {
  .layout-guess,
  .layout-draw {
    grid-template-columns: 1fr 350px;
    grid-template-areas:
            "canvas input"
            "canvas scoreboard"
            "canvas guesses"
            "canvas empty";
  }
  .layout-draw {
    grid-template-areas:
            "canvas scoreboard"
            "canvas guesses"
            "canvas empty";
  }

  .layout-guess--no-guess {
    grid-template-areas:
          "canvas input"
          "canvas scoreboard"
          "canvas empty";
  }

}
