::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: var(--brown-light);
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 4px;
}
