::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: var(--brown-light);
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 4px;
}

.list::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  padding: 1px;
}

.list::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 4px;
}
