@import './reset.css';
@import './card.css';
@import './list.css';
@import './typography.css';
@import './drawarea.css';
@import './layout.css';
@import './form.css';
@import './btn.css';
@import './scrollbar.css';
@import './tooltip.css';
@import './countdown.css';
@import './modal.css';

:root {
  --beige: #FFFAE6;
  --brown-light: #D89348;
  --green: #35B0A3;
  --gold: #BBA649;
  --brown: #7A673F;
  --blue: #09AFCE;
  --yellow: #FCE04E;
  --red: #E14F13;
  --red-light: #FBD6BC;
}

html, body {
  font-size: 18px;
  color: var(--brown);
  font-weight: bold;
}

body {
  background: url(/img/food.png) repeat;
  font-family: "Nunito", sans-serif;
}
